<p id="notice"><%= notice %></p>

<section class="container my-4" >
  <h2 class="my-3">Balances</h2>
  <div id="mostrar-graficos"><%= column_chart @grafo %></div>
  <button type="button" class="btn btn", id="graphics">Mostar gráfico</button>
</section>

<section class="container my-5 pb-4">
  <div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
        <th class="text-center text-white">Nombre</th>
        <th class="text-center text-white">Apellido</th>
        <th class="text-center text-white">Total de préstamos</th>
        <th class="text-center text-white">Total de Abonos</th>
        <th class="text-center text-white">Saldo Pendiente</th> 
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>  
          <tr>    
            <td class="text-center"><%= customer.name %></td> 
            <td class="text-center"><%= customer.last_name %></td> 
            <td class="text-center"><%= customer.total_loans %></td> 
            <td class="text-center"><%= customer.total_payments %></td>
            <td class="text-center"><%= customer.balance %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</section>
