<div class="container">
  <%= form_with(model: [@customer, loan]) do |form| %>
    <%= form.fields_for :loan_products do |loan_product| %>
          <div id="product_fields">
            <div>
              <div class="field">
                <%= loan_product.label :product_id %>
                <%= loan_product.select :product_id, @products, prompt: "Seleccione un producto" %>
              </div>
              <div class="field">
                <%= loan_product.label :product_quantity %>
                <%= loan_product.text_field :product_quantity %>
              </div>
            </div>
          </div>     
    <%end%>
        <br>
        <%= link_to "Añadir más productos", add_products_loans_path, id: "add_product", remote: true %>                  
        <br>
        <%= form.submit class: 'actions btn btn', id: "color"%>
          <button id="btn-b"><%= link_to 'Back', loans_path, id: "color-back" %></button>
          <button id="btn-s"><%= link_to 'Show', @loan, id: "color-back" %></button>
       <% end %>
</div>