<%= form_with(model: loan) do |form| %>
  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select :customer_id, @customers, prompt: "Seleccione un cliente" %>
  </div>
<%= form.fields_for :loan_products do |loan_product| %>
      <div id="product_fields">
        <div>
          <div class="field">
            <%= loan_product.label :product_id %>
            <%= loan_product.select :product_id, @products, prompt: "Seleccione un producto" %>
          </div>
          <div class="field">
            <%= loan_product.label :product_quantity %>
            <%= loan_product.text_field :product_quantity %>
          </div>
        </div>
      </div>     
<%end%>
  <br>
  <button class="btn btn-light"><%= link_to 'Añadir más productos',  add_products_loans_path, id: 'add_product', remote: true %></button>                   
  <br><br>
  <%= form.submit class: 'actions btn btn-danger' %>
<% end %>
