<%= form_with(model:  [@customer, payment]) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--Tipo de Cambio CR-->
<div class="text-right">
    <table class="table table-sm table-borderless d-flex align-items-end flex-column bd-highlight">
      <thead class="divisas"> 
        <tr>
          <th class="text-white">Compra</th>
          <th class="text-white">Venta</th>
          <th class="text-white">Fecha</th>
        </tr>
      </thead>
      <tbody class="d-flex align-items-end flex-column bd-highlight">
        <tr>
          <td class="style" id="compra"></td>
          <td class="style" id="venta"></td>
          <td class="style" id="fecha"></td>
        </tr>
      </tbody>
    </table>
</div>
 
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                          <div class="card-header"><%= image_tag "logo_carniceria.png", width: "200px", heigth: "800px", class: "img" %></div>
                            <div class="card-body">
                              <form>
                                <% if @customer.present? %>
                                    <p><strong>Cliente:</strong>&nbsp;<%= @customer.name %>&nbsp;<%= @customer.last_name %></p>
                                  <% elsif%> 
                                    <p><strong>Cliente:</strong>&nbsp;<%= @payment.customer.name %>&nbsp;<%= @payment.customer.last_name %></p>
                                  <% end %>
                                  <div class="form-group">           
                                    <label class="medium mb-1" for="inputPassword">Abono</label>
                                    <%= form.text_field :balance_paid, class:'form-control py-4 mb-1', placeholder: 'Cantidad a abonar' %>
                                  </div>
                                  <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <%= form.submit class: "actions btn btn", id: "create", data: {disable_with: 'submitting...'} %> 
                                    <button type="button"id="btn"><%= link_to 'Regresar', payments_path, id: "color-back" %></button>
                                  </div>
                                  <% end %>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



