<p id="notice"><%= notice %></p>

<br><br>
<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body head">
    <h5 class="card-title text-white text-center">Detalle del Abono</h5>
  </div>

 <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre de Cliente: 
      <%= @payment.customer.name %>
    </li>
    <li class="list-group-item">Apellido: 
      <%= @payment.customer.last_name %>
    </li>
    <li class="list-group-item">Saldo Abonado:
       <%= @payment.balance_paid %>
    </li>
    <li class="list-group-item">Fecha:
       <%= @payment.created_at%>
    </li>
  </ul>

<div class="card-body">
  <button id="btn-e"><%= link_to 'Editar', edit_payment_path(@payment), id: "color-b" %></button> 
  <button id="btn-b"><%= link_to 'Regresar', customers_path, id: "color-b" %></button>
</div> 
